<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-align-self-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ character.origin.name | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="!isUnknown">
            <ion-item lines="none">
              <ion-label>
                <ion-text color="" class="ion-text-wrap ion-text-start">
                  TYPE: 
                </ion-text>
              </ion-label>
              <ion-note slot="end" color="success">{{ originLocation.type | titlecase }}</ion-note>
            </ion-item>
            <ion-item lines="none">
              <ion-label>
                <ion-text color="" class="ion-text-wrap ion-text-start">
                  DIMENSION:
                </ion-text>
              </ion-label>
              <ion-note slot="end" color="success">{{ originLocation.dimension | titlecase }}</ion-note>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="!isUnknown">
          <ion-card-header>
            <ion-item>
              <ion-card-title>RESIDENTS</ion-card-title>
              <ion-badge slot="end" color="primary" mode="ios">{{residentsLength}}</ion-badge>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" *ngFor="let item of residentss">
              <ion-avatar slot="start">
                <img [src]="item.image" />
              </ion-avatar>
              <ion-label>
                <ion-text color="medium" class="ion-text-wrap ion-text-start">
                  <strong>
                    <span>{{item.name| uppercase }}</span>
                  </strong>
                </ion-text>
                <ion-text color="primary">
                  <h3>{{item.species}} - {{item.status}}</h3>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
